.idea/
.vscode/
*.iml
.env
.DS_Store
venv/
.pytest_cache/
**__pycache__/
**db.sqlite3
media
/apps/tickets/migrations/
/apps/orders/migrations/
/apps/flights/migrations/
/apps/crews/migrations/
/apps/airports/migrations/
/apps/airplanes/migrations/
